# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.env

# Flutter
/frontend/app/build/
/frontend/app/.dart_tool/
/frontend/app/.flutter-plugins
/frontend/app/.flutter-plugins-dependencies
/frontend/app/*.iml
/frontend/app/*.metadata
/frontend/app/macos/
/frontend/app/linux/
/frontend/app/web/
/frontend/app/android/
/frontend/app/ios_backup/
/frontend/app/test/


# uv
.venv/
uv.lock

# IDEs
.idea/
.vscode/
